.all-spots {
    display: inline-grid;
    flex-direction: row;
    justify-content: space-evenly;
}

.single-spot-link {
    flex: 5;
    text-decoration: none;
}

@media (max-width: 1200px) {
    .single-spot-link {
      min-width: calc(33.33% - 20px);
    }
  }

  @media (max-width: 768px) {
    .single-spot-link {
      min-width: calc(50% - 20px);
    }
  }

  @media (max-width: 480px) {
    .single-spot-link {
      min-width: calc(100% - 20px);
    }
  }

.single-spot-display {
    display: flex;
    flex-direction: row;
}

.each-spot-image {
    object-fit: fill;
    position: relative;
    height: 250px;
    width: 250px;
    border: 1px solid black;
    border-radius: 15px;
    z-index: -1;
}

.get-all-spots {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 15px 15px;
    gap: 20px;
}

.display-city-and-state {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 777;
}

.all-spots-avgStars {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.all-spots-pricing {
    font-weight: 777;
}
