#personal-spots-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#personal-spots-title {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-weight: bold;
}

#personal-spots-list-by-list {
    display: flex;
    flex-direction: row;
    flex: wrap;
    justify-content: space-evenly;
    padding: 25px;
}

#my-spots {
    display: flex;
    flex-direction: column;
    flex: wrap;
    justify-content: center;
    width: 100%;
    border: 3px solid lightcoral;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#link-to-personal-spots {
    text-decoration: none;
}

#per-spot-img {
    width: 200px;
    height: 200px;
    position: relative;
    object-fit: fill;
    border-radius: 15px;
}

.add-new-listing-button {
    justify-content: center;
    height: 50px;
    width: 100px;
    color: white;
    background-color: blueviolet;
}

#spot-descriptions {
    font-size: 12px;
    font-weight: bold;
}

#d-container {
    float: left;
    padding: 3px;
    border: 1px solid black;
}

#star-review {
    float: right;
    border: 1px solid red;

}

.personal-spot-edit-button {
    border: 3px solid lightcoral;
    border-radius: 10px;
    padding: 10px;
}

.personal-spot-terminate-button {
    border: 3px solid red;
    border-radius: 10px;
    padding: 10px;
}
