#home-text-fancy {
    border-radius: 4px;
    color: black;
    font-weight: bold;
    margin: 10px auto;
    cursor: pointer;
    padding: 4px;
    text-decoration: none;
}

#header {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 4px;
    border-bottom: 1px solid black;
}

#create-new-spot {
    position: relative;
    background-color: #d98f8d;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    margin: 10px auto;
    cursor: pointer;
    padding: 4px;
    text-decoration: none;
}
