.just-the-background {
    display: inline-block;
    background-color: #007BFF;
}
.login-text-fancy {
    padding: 10px 15px;
    background-color: #d5ab57;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin: 50px auto;
    transition: background-color 0.2s ease;
    color: black;
    font-weight: 900;
}

.login-modal-form {
    height: 600px auto;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(83, 79, 190, 0.2);
    background-color: lightskyblue;
    margin-bottom: 15px;
}

.login-modal-fail {
    margin-bottom: 25px;
}

.login-username-or-email {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-password {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.login-button-for-demo {
    padding: 10px 15px;
    background-color: #ca4389;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
